.input-group .form-control, .intl-tel-input { width: 100%; }
#phone{
    width:100%;
    }

.form-control:invalid {
    // border: 2px solid red;
}
.error-input-descr {
    padding-top: 10px;
    color: red;
}

.invalid-input {
    border-color: red;
    border-width: 2px;
}